.card {
  border-radius: 10px;
  display: grid;
  background: #3c3e44;
  color: #fff;
}

.card__portrait {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__info {
  padding: 0 20px;
}

.info__name {
  text-align: center;
}
